@media all and (min-width: 480px) {
.paragraphs-item-banner .content > div:last-child{padding:3% 2%;}.paragraphs-item-banner .content > div:last-child{padding:2%;}.paragraphs-item-banner .content > div:last-child p{font-size:13px;}header nav ul{max-width:600px;}
}
